#outer{
	width:300px;
	height:300px;
	background-color:#ffa500;
	border-radius:50%;
	box-shadow:0 0 0 25px #ff0000;
	position:absolute;
	top:50px;
	left:50px;
}
#middle{
	width:200px;
	height:200px;
	background-color:#008000;
	border-radius:50%;
	box-shadow:0 0 0 25px #ffff00;
	position:absolute;
	top:50px;
	left:50px;
}
#inner{
	width:100px;
	height:100px;
	background-color:#800080;
	border-radius:50%;
	position:absolute;
	top:50px;
	left:50px;
	box-shadow:0 0 0 25px #0000ff;
}
